<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd
import warnings

In [2]:
# Change the path to the dataset file if needed. 
PATH = '../data/athlete_events.csv.zip'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [4]:
print(data.iloc[data.loc[(data['Sex'] == 'M') & (data['Year'] == 1996)]['Age'].idxmin()])
print("------------------------")
print(data.iloc[data.loc[(data['Sex'] == 'F') & (data['Year'] == 1996)]['Age'].idxmin()])

ID                        44326
Name            Gwon Gyeong-Min
Sex                           M
Age                          14
Height                      165
Weight                       60
Team                South Korea
NOC                         KOR
Games               1996 Summer
Year                       1996
Season                   Summer
City                    Atlanta
Sport                    Diving
Event     Diving Men's Platform
Medal                       NaN
Name: 87416, dtype: object
------------------------
ID                                           47506
Name                                  Hem Reaksmey
Sex                                              F
Age                                             12
Height                                         175
Weight                                          65
Team                                      Cambodia
NOC                                            CAM
Games                                  1996 Summer
Year                                          1996
Season                                      Summer
City                                       Atlanta
Sport                                     Swimming
Event     Swimming Women's 100 metres Breaststroke
Medal                                          NaN
Name: 93850, dtype: object

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [5]:
data_2000 = data.loc[data['Year'] == 2000]
male_participants = data_2000.loc[data['Sex'] == 'M']
male_gymnasts = male_participants.loc[data['Sport'] == 'Gymnastics']
print(len(male_gymnasts) / len(male_participants) * 100)

7.651966626936829

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [6]:
filtered_data = data.loc[(data['Sex'] == 'F') & (data['Year'] == 2000) & (data['Sport'] == 'Basketball')]

import numpy as np

print(np.mean(filtered_data['Height']), np.std(filtered_data['Height']))

182.38732394366198 9.10722402592803

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [7]:
data.iloc[data.loc[data['Year'] == 2002]['Weight'].idxmax()]

ID                      50171
Name        Emmanuel Hostache
Sex                         M
Age                        26
Height                    190
Weight                    123
Team                   France
NOC                       FRA
Games             2002 Winter
Year                     2002
Season                 Winter
City           Salt Lake City
Sport               Bobsleigh
Event     Bobsleigh Men's Two
Medal                     NaN
Name: 99154, dtype: object

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [8]:
participates = data[data['Name'] == 'Pawe Abratkiewicz'].drop_duplicates(subset=['Year'])
len(participates)
print(participates)

       ID               Name Sex   Age  Height  Weight    Team  NOC  \
997   562  Pawe Abratkiewicz   M  21.0   183.0    84.0  Poland  POL
999   562  Pawe Abratkiewicz   M  27.0   183.0    84.0  Poland  POL
1001  562  Pawe Abratkiewicz   M  31.0   183.0    84.0  Poland  POL

            Games  Year  Season            City          Sport  \
997   1992 Winter  1992  Winter     Albertville  Speed Skating
999   1998 Winter  1998  Winter          Nagano  Speed Skating
1001  2002 Winter  2002  Winter  Salt Lake City  Speed Skating

                               Event Medal
997   Speed Skating Men's 500 metres   NaN
999   Speed Skating Men's 500 metres   NaN
1001  Speed Skating Men's 500 metres   NaN

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [9]:
data[(data['Year'] == 2000) & (data['Team'] == 'Australia') & (data['Sport'] == 'Tennis') & (data['Medal'] == 'Silver')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
262820,131504,Todd Andrew Woodbridge,M,29.0,178.0,75.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver
262831,131511,Mark Raymond Woodforde,M,34.0,183.0,80.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [10]:
data_2016 = data[data['Year'] == 2016].dropna(subset=['Medal'])
data_2016
data_2016_swiss = data_2016.loc[data['Team'] == 'Switzerland']
print(len(data_2016_swiss))
data_2016_serbia = data_2016.loc[data['Team'] == 'Serbia']
print(len(data_2016_serbia))

11
54

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [11]:
data_2014 = data.loc[data['Year'] == 2014]
print("[45 - 55]:", len(data_2014.loc[(data['Age'] >= 45) & (data['Age'] <= 55)]))
print("[35 - 45]:", len(data_2014.loc[(data['Age'] >= 35) & (data['Age'] <= 45)]))
print("[25 - 35):", len(data_2014.loc[(data['Age'] >= 25) & (data['Age'] < 35)]))
print("[15 - 25):", len(data_2014.loc[(data['Age'] >= 15) & (data['Age'] < 25)]))
print("[35 - 45):", len(data_2014.loc[(data['Age'] >= 35) & (data['Age'] < 45)]))

[45 - 55]: 5
[35 - 45]: 266
[25 - 35): 2594
[15 - 25): 2027
[35 - 45): 265

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [12]:
print(len(data.loc[(data['City'] == 'Lake Placid') & (data['Season'] == 'Summer')]) > 0)
print(len(data.loc[(data['City'] == 'Sankt Moritz') & (data['Season'] == 'Winter')]) > 0)

False
True

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [13]:
unique_1995 = data.loc[data['Year'] == 1995].groupby('Sport')
unique_2016 = data.loc[data['Year'] == 2016].groupby('Sport')
print(abs(len(unique_1995) - len(unique_2016)))

34